.error-input {
    border: solid 0.08rem red;
}

.span-error {
    font-size: 12px;
}

.fa-exclamation-circle,
.span-error {
    color: red !important;
}

.ncip-blinking {
    animation: blinker 1s linear;
}

.table {
    width: 100% !important;
}


.swal2-image {
    width: 135px !important;
    display: flex;
}

.loadingText {
    font-family: 'Quicksand', sans-serif !important;
    font-size: 20px !important;
    color: beige;
}

.swal2-container {
    z-index: 100000 !important;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}

code {
    color: #000000 !important;
}

.field-icon {
    float: right;
    margin-right: 9px;
    margin-left: -25px;
    margin-top: -25px;
    position: relative;
    z-index: 2;
}

.breadcrumb {
    margin-bottom: 0 !important;
    background-color: #ffffff !important;
}

@page { size: auto; margin: 0mm; }

@media print{
    body * {
        visibility:hidden;
    }

    #printSection, #printSection * {
        visibility:visible;
    }

    #printSection {
        position:absolute;
        left:0;
        top:0;
    }
}

.content-wrapper{
    margin-top: 65px !important;
}

.redClass{
    background-color: #de8a8a;
}
.chart {
    width: 100%;
    min-height: 450px;
}

.cursorPoint{
    cursor: pointer;
}

.form-control{
    border-radius: 0 !important;
}

.ncip-title{
    font-size: 1em;
    font-weight: 600;
}

.ncip-description{
    font-size: 13px;
}

.ncip-card-meeting{
    border-left: 3px solid #3f823b;
}

.ncip-meeting{
    max-height: 30em;
    overflow-y: auto;
}

@page { size: auto; margin: 0mm; }

@media print{
    body * {
        visibility:hidden;
    }

    #printSection, #printSection * {
        visibility:visible;
    }

    #printSection {
        position:absolute;
        left:0;
        top:0;
    }
}

body{
    background-color: #ffffff !important;
}

.indent-30{
    text-indent: 30px !important;
}

.notification-card:hover{
    cursor: pointer;
    text-decoration: none;
    box-shadow: 1px 8px 20px rgb(150, 149, 149);
}

.notification-card{
    color: #000000 !important;
}

.scrollable-body-35{
    max-height: 35rem;
    overflow-y: auto;
}

.scrollable::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

.scrollable::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

.scrollable::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}
